.container.contact_container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    resize: none;
    color: var(--text-color);
}

/* Media Queries (MEDIUM Devices) */
@media screen and (max-width: 1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* Media Queries (SMALL Devices) */
@media screen and (max-width: 600px) {
    .container.contact_container {
        width: var(--container-width-sm);
    }
}